@model Catec.Models.CatequistaModel

@{
    ViewData["Title"] = "Catequista";
}

<section class="content-header">
    <h2>@ViewData["Title"]</h2>

</section>

<!-- Main content -->
<section class="content">
    <div style="margin-bottom: 10px;">
        <button class="btn btn-primary" type="button" onclick="Cadastrar()">Cadastrar</button>
    </div>
    <div class="box">

        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Catequista</th>
                        <th>Cpf</th>
                        <th>Rua</th>
                        <th>Numero</th>
                        <th>Data_cadastro</th>
                        <th>Status</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        foreach (var item in (List<CatequistaModel>)ViewBag.ListaCatequista)
                        {
                    <tr>
                        <td>@item.NomeCatequista</td>
                        <td>@item.Cpf</td>
                        <td>@item.Rua</td>
                        <td>@item.Numero</td>
                        <td>@item.Data_cadastro</td>
                        <td>@item.Ativo</td>
                        <td>
                            <button type="button" class="btn btn-warning" onclick="Editar(@item.IdCatequista)">Editar</button>
                            <button type="button" class="btn btn-danger" onclick="Excluir(@item.IdCatequista)">Excluir</button>
                        </td>
                    </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</section>
<!-- /.content -->

<script>
    function Cadastrar() {
        window.location.href = "../Comunidade/Cadastro";
    }

    function Editar(id) {
        window.location.href = "../Comunidade/Cadastro" + id;
    }

    function Excluir(id) {
        window.location.href = "../Comunidade/Excluir" + id;
    }
</script>